<mat-toolbar color="primary" class="mat-elevation-z5">
  <span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </span>

  <h1 class="md-title text-center">AlgoCryptos</h1>

  <!-- This fills the remaining space of the current row -->
  <span class="app-toolbar-filler"></span>

  <span>
    <button mat-button (click)="processesStatus()">
       <i class="material-icons">error_outline</i>
    Status
    </button>

    <!--<button mat-icon-button [matMenuTriggerFor]="actionMenu">-->
    <button mat-icon-button>
       <i class="material-icons">more_vert</i>
    </button>
  </span>

</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button routerLink="/globalkpis" mat-menu-item>
    <i class="material-icons">trending_up</i>
    Global KPIs </button>
  <button routerLink="/cryptokpis" mat-menu-item>
    <i class="material-icons">trending_up</i>
    Crypto KPI </button>
  <button routerLink="/settings" mat-menu-item>
    <i class="material-icons">settings</i>
    Settings </button>
  <button routerLink="/help" mat-menu-item>
    <i class="material-icons">help</i>
    Help </button>
</mat-menu>

<!--
<mat-menu #actionMenu="matMenu">
  <button mat-menu-item (click)="moveToNextWeek()">
    <i class="material-icons">redo</i>
    Action 1 </button>
</mat-menu>
-->
