<div class="page-header">
  <mat-grid-list cols="20" rowHeight="2:1">
    <mat-grid-tile  colspan='19'>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile  colspan='1'>
      <button mat-button (click)="editColumns()">
        <i class="material-icons">edit</i>
      </button>
    </mat-grid-tile>
  </mat-grid-list>


</div>

<div class="page-component">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- rank Column -->
    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rank </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span matTooltip="Id={{row.IdCryptoCompare}}">
          {{row.rank}}
        </span>
      </mat-cell>
    </ng-container>

    <!-- CoinName Column -->
    <ng-container matColumnDef="CoinName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span matTooltip="CoinMarketCap">
          <a target="_blank" [href]="'https://coinmarketcap.com/currencies/' + row.namecmc + '/'">{{row.CoinName}}</a>
        </span>
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Symbol">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span matTooltip="Subreddit">
            <a target="_blank" [href]="'https://www.reddit.com/r/' + row.reddit_agr + '/'">{{row.Symbol}}</a>
        </span>
      </mat-cell>
    </ng-container>

    <!-- price_usd Column -->
    <ng-container matColumnDef="price_usd">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.price_usd | currency:'USD':'symbol':'1.2-2'}} </mat-cell>
    </ng-container>

    <!-- market_cap_usd Column -->
    <ng-container matColumnDef="market_cap_usd">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Market Cap</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.market_cap_usd | currency:'USD':'symbol':'1.0-0'}} </mat-cell>
    </ng-container>

    <!-- percent_change_1h Column -->
    <ng-container matColumnDef="percent_change_1h">
      <mat-header-cell *matHeaderCellDef mat-sort-header>1h Change</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.percent_change_1h)"> {{row.percent_change_1h / 100 | percent:'1.1'}} </mat-cell>
    </ng-container>

    <!-- percent_change_24h Column -->
    <ng-container matColumnDef="percent_change_24h">
      <mat-header-cell *matHeaderCellDef mat-sort-header>24h Change</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.percent_change_24h)"> {{row.percent_change_24h / 100 | percent:'1.1'}} </mat-cell>
    </ng-container>

    <!-- percent_change_7d Column -->
    <ng-container matColumnDef="percent_change_7d">
      <mat-header-cell *matHeaderCellDef mat-sort-header>7d Change</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.percent_change_7d)"> {{row.percent_change_7d / 100 | percent:'1.1'}} </mat-cell>
    </ng-container>

    <!-- percent_change_ath Column -->
    <ng-container matColumnDef="percent_change_ath">
      <mat-header-cell *matHeaderCellDef mat-sort-header>%Change vs ATH</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.percent_change_ath)">
        <span matTooltip="{{ (row.prices_ath_usd | currency:'USD':'symbol':'1.2-2') + ' - ' + (row.ath_date | date:'dd/MM/yyyy')}}">
            {{row.percent_change_ath | percent:'1.1'}}
        </span>

      </mat-cell>
    </ng-container>

    <!-- Reddit subscribers column -->
    <ng-container matColumnDef="reddit_subscribers">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reddit subscribers</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span matTooltip="RedditMetric">
            <a target="_blank" [href]="'http://redditmetrics.com/r/' + row.reddit_agr + '/'">{{row.reddit_subscribers}}</a>
        </span>
      </mat-cell>
    </ng-container>

    <!-- Reddit subscribers 1d trend column -->
    <ng-container matColumnDef="subscribers_1d_trend">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reddit sub. 1d trend</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.subscribers_1d_trend)"> {{row.subscribers_1d_trend | percent:'1.1'}} </mat-cell>
    </ng-container>

    <!-- Reddit subscribers 3d trend column -->
    <ng-container matColumnDef="subscribers_3d_trend">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reddit sub. 3d trend</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.subscribers_3d_trend)"> {{row.subscribers_3d_trend | percent:'1.1'}} </mat-cell>
    </ng-container>

    <!-- Reddit subscribers 7d trend column -->
    <ng-container matColumnDef="subscribers_7d_trend">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reddit sub. 7d trend</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.subscribers_7d_trend)"> {{row.subscribers_7d_trend | percent:'1.1'}} </mat-cell>
    </ng-container>

    <!-- Reddit subscribers 15d trend column -->
    <ng-container matColumnDef="subscribers_15d_trend">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reddit sub. 15d trend</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.subscribers_15d_trend)"> {{row.subscribers_15d_trend | percent:'1.1'}} </mat-cell>
    </ng-container>

    <!-- Reddit subscribers 30d trend column -->
    <ng-container matColumnDef="subscribers_30d_trend">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reddit sub. 30d trend</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.subscribers_30d_trend)"> {{row.subscribers_30d_trend | percent:'1.1'}} </mat-cell>
    </ng-container>

    <!-- Reddit subscribers 60d trend column -->
    <ng-container matColumnDef="subscribers_60d_trend">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reddit sub. 60d trend</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.subscribers_60d_trend)"> {{row.subscribers_60d_trend | percent:'1.1'}} </mat-cell>
    </ng-container>

    <!-- Reddit subscribers 90d trend column -->
    <ng-container matColumnDef="subscribers_90d_trend">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reddit sub. 90d trend</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.subscribers_90d_trend)"> {{row.subscribers_90d_trend | percent:'1.1'}} </mat-cell>
    </ng-container>

    <!-- TODO : 24h volumes -->
    <!-- Kpi volumes mean 1h/30d -->
    <ng-container matColumnDef="volume_mean_last_1h_vs_30d">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mean vol 1h/30d</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.volume_mean_last_1h_vs_30d)"> {{row.volume_mean_last_1h_vs_30d | percent}} </mat-cell>
    </ng-container>

    <!-- Kpi volumes mean 3h/30d -->
    <ng-container matColumnDef="volume_mean_last_3h_30d">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mean vol 3h/30d</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.volume_mean_last_3h_30d)"> {{row.volume_mean_last_3h_30d | percent}} </mat-cell>
    </ng-container>

    <!-- Kpi volumes mean 6h/30d -->
    <ng-container matColumnDef="volume_mean_last_6h_30d">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mean vol 6h/30d</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.volume_mean_last_6h_30d)"> {{row.volume_mean_last_6h_30d | percent}} </mat-cell>
    </ng-container>

    <!-- Kpi volumes mean 12h/30d -->
    <ng-container matColumnDef="volume_mean_last_12h_30d">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mean vol 12h/30d</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.volume_mean_last_12h_30d)"> {{row.volume_mean_last_12h_30d | percent}} </mat-cell>
    </ng-container>

    <!-- Kpi volumes mean 24h/30d -->
    <ng-container matColumnDef="volume_mean_last_24h_30d">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mean vol 24h/30d</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.volume_mean_last_24h_30d)"> {{row.volume_mean_last_24h_30d | percent}} </mat-cell>
    </ng-container>

    <!-- Kpi volumes mean 3d/30d -->
    <ng-container matColumnDef="volume_mean_last_3d_30d">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mean vol 3d/30d</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.volume_mean_last_3d_30d)"> {{row.volume_mean_last_3d_30d | percent}} </mat-cell>
    </ng-container>

    <!-- Kpi volumes mean 7d/30d -->
    <ng-container matColumnDef="volume_mean_last_7d_30d">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mean vol 7d/30d</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="setColor(row.volume_mean_last_7d_30d)"> {{row.volume_mean_last_7d_30d | percent}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[100, 200, 300, 500]"></mat-paginator>
</div>

<div *ngIf="coins === undefined">
  <mat-spinner class="spinner"></mat-spinner>
</div>
