<div class="page-header">
</div>

<div class="page-component">

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="IdCryptoCompare">
      <mat-header-cell *matHeaderCellDef mat-sort-header>IdCryptoCompare</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.IdCryptoCompare}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">
          {{row.Name}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="CoinName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CoinName</mat-header-cell>
      <mat-cell *matCellDef="let row">
          {{row.CoinName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Reddit_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reddit_name</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.Reddit_name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reddit_name_manual">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Reddit_name_manual</mat-header-cell>
      <mat-cell *matCellDef="let row">

        <mat-form-field>
          <input matInput placeholder="{{row.Name}} Subreddit" [(ngModel)]="row.reddit_name_manual">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Facebook_link">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Facebook_link</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.Facebook_link}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="facebook_link_manual">
      <mat-header-cell *matHeaderCellDef mat-sort-header>facebook_link_manual</mat-header-cell>
      <mat-cell *matCellDef="let row">

        <mat-form-field>
          <input matInput placeholder="{{row.Name}} Facebook" [(ngModel)]="row.facebook_link_manual">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Twitter_link">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Twitter_link</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.Twitter_link}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="twitter_link_manual">
      <mat-header-cell *matHeaderCellDef mat-sort-header>twitter_link_manual</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field>
          <input matInput placeholder="{{row.Name}} Twitter" [(ngModel)]="row.twitter_link_manual">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Update">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Update</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="updateSubreddit(row.IdCryptoCompare, row.reddit_name_manual, row.twitter_link_manual, row.facebook_link_manual)">
          <mat-icon aria-label="Edit Subreddit link">save</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

</div>
