/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


body {
  margin: 0;
}

.app-content {
  padding: 15px;
  font: 10px noto;
}

.spinner {
  display:block;
  margin:0 auto;
}

.page-component {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.page-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
